@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i');

body, html {
  background-color: #F1F1F1 !important;
  color: #000 !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 100 !important;
  margin: 0 !important;
}
.report {
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}
.main {
  color: #000;
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.footer {
  margin-top: 50px;
  background-color: #fff;
  text-align: center;
  padding: 5px;
}
.main > h1 {
  font-size: 400%;
  font-weight: 100;
  margin: 0;
}
.content > h1 {
  font-weight: 100;
  margin: 0;
}
.content > p {
  margin: 0;
  font-weight: 300;
}
h3 {
  margin: 0;
  font-weight: 100;
}
strong {
  font-weight: 400;
}

/* sidenav */
.nav-btn {
  color: #444;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 2px;
  margin-left: 10px;
  font-size: 50px;
  cursor: pointer;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
    text-decoration: none;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* color box */
.color-box {
  padding: 10px;
  color: #fff;
}
.text-color-box {
  padding: 10px;
  color: #fff;
}
.text-color-box > strong {
  font-weight: 500;
}

/* pagebox*/
.page-box {
  width: 100%;
  height: 400px;
  background-color: #F1F1F1;
  border: 2px #666 solid;
  max-height: 400px;
  min-height: 400px;
  overflow: auto;
}
.page-box-content > h1 {
  font-weight: 100;
  margin: 0;
}
.page-box-content {
  padding: 20px;
  margin: 0;
}
